<!-- {% load static %} -->


<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
  
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Righteous&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link href="https://fonts.googleapis.com/css2?family=Jost&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/login.css' %}">
  <link rel="icon"  href= "{% static 'img/icon.png' %}">
    <script src=" http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js">
    </script>

  <title>MusicLab</title>
</head>

<body>
    <div class="container1">
        <nav class="navbar navbar-expand-lg navbar">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">MUSICLAB</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                {% if messages %}
                <ul class="messages" style="background-color: #46244C21; color: #F900BF; border-radius: 20%; border: 2px solid #F900BF; padding: 30px;  font-family: 'Jost', sans-serif;">
                    {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
                {% endif %}

            </div>
        </nav>
    </div>


  <div class="container2">
    <div class="card" style="width: 60%;">
      <div class="card-body">
        <h5 class="card-title">About</h5>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod ipsam nihil quibusdam fuga illo explicabo sunt
          deserunt ad doloribus recusandae hic facilis, maiores vitae at, voluptates accusantium dolor nemo laboriosam
          quis totam. Dicta recusandae suscipit sunt soluta tenetur animi saepe cum molestias, porro, accusantium
          provident.</p>
      </div>
    </div>
    <div class="card" style="height: 500px;">
        <img src="{% static 'img/login.jpg' %}" alt="" style="width: 100%; height: 200px;">
        <div class="card-body">
            <h5 class="card-title" >Login</h5>
            <form action="/login/" method="post">
                {% csrf_token %}
                <div class="form-group">
                  <input type="text" class="form-control" id="user"  name="username" placeholder="Enter username">
                </div>
                <div class="form-group">
                  <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" name="password">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
                <a href="/register"><button type="button" class="btn btn-primary" style="margin-left:20px ; background: none; color: #F900BF; border: 2px solid #F900BF;">Click here to signup </button></a>
                
            </form>



        </div>
        

    </div>
  </div>

  <footer class="text-center "
    style="  position: fixed;
    left: 0;
    bottom: 0;
    width:100%;
    background-color: #46244C21; border: 2px solid #F900BF; border-bottom: none; border-left: none; border-right: none;">
    <!-- Grid container -->
    <div class="container p-3 pb-0">
      <!-- Section: Social media -->
      <section class="mb-0">
        <a style="color: #F900BF;     font-family: 'Jost', sans-serif; margin-right: 20px;">Check out github repo > </a>
        <a href="https://github.com/Mehulparekh144" target="_blank"><img src="{% static 'img/github.png' %}"
            class="footer-img" alt=""></a>
      </section>

    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3" style="color: #F900BF;     font-family: 'Jost', sans-serif;">
      Deployed using Heroku | © Copyright 2022 : MusicLab
    </div>


    <!-- Copyright -->
  </footer>



  <!-- <footer>
      <div class="contributors">
      <a href="https://github.com/Mehulparekh144"  target="_blank"><img src="{% static 'img/github.png' %}"  class="footer-img" alt=""></a>
      <p>Mehul</p>
    
      </div>
    
      <div class="contributors">
      <a href="" target="_blank" ><img src="{% static 'img/github.png' %}"  class="footer-img" alt=""></a>
      <p>Harsh</p>
    
      </div>
      <div class="contributors">
      <a href="https://github.com/shubham22122001" target="_blank" ><img src="{% static 'img/github.png' %}"  class="footer-img" alt=""></a>
      <p>Shubham</p>
    
      </div>
      <div class="contributors">
      <a href="https://github.com/shubham22122001" target="_blank" ><img src="{% static 'img/github.png' %}"  class="footer-img" alt=""></a>
      <p>Aditi</p>
    
      </div>
    
    </footer> -->


</body>


</html>